* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddfaff;
}

nav {
    background-color: white;
    height: 130px;
    box-shadow: 0px 10px 10px #3131317b;
    padding: 20px 0px;
}

h1 {
    text-align: center;
}

.nav-toggle {
    width: 100vw;
    display: flex;
    justify-content: right;
}

button {
    background-color: transparent;
    border: none;
}

.material-symbols-outlined {
    margin-right: 20px;
    color: #93efff;
    font-weight: bolder;
    font-size: 3.4em;
    cursor: pointer;

    transition: transform .4s;
}

.material-symbols-outlined:hover {
    transform: rotate(-90deg);
}

div.nav-center {
    display: flex;
    flex-flow: column nowrap;
}

.links {
    background-color: white;
    box-shadow: 0px 10px 10px #3131317b;
    padding-right: 10px;

    height: 0;
    overflow: hidden;
}

li {
    margin: 10px;
}

a {
    color: #93efff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #aaaaaa;
    font-weight: bolder;
    font-size: 1.6em;
}

.show-links {
    height: 10em;
}