@charset "UTF-8";

body {
    background-color: rgb(47, 120, 255);
    font: normal 15px Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 8px;
}

img {
    width: 300px;
}