* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-area: 1fr 2fr 1fr 2fr 1fr / 1fr;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div#caixa1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    min-height: 300px;
    width: 300px;
    padding: 20px;
    border: 3px solid black;
}

div#caixa2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    min-height: 795px;
    width: 300px;
    padding: 20px;
    border: 3px solid black;
}

div.curso {
    padding: 10px;
    width: 200px;
    border: 2px solid royalblue;
    margin: 10px 0px;
}

div.selecionado {
    background-color: brown;
    border: 2px solid black;
    color: wheat;
}

button {
    width: 100px;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
}